:root {
  --primary-font: "Poppins", sans-serif;

  --border-radius: 15px 15px;
  --accent-font: "Montserrat", sans-serif;
  --widget-background: linear-gradient(
    115deg,
    rgb(224, 246, 255) 0%,
    rgb(237, 245, 253) 46%,
    rgb(255, 254, 229) 97%
  );
}
body {
  font-family: var(--primary-font);
  background: linear-gradient(
    115deg,
    rgb(248, 250, 251) 0%,
    rgb(240, 241, 243) 45%,
    rgb(251, 251, 248) 95%
  );
}

.worldClockTitle {
  font-size: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
  font-weight: 900;
  opacity: 0.6;
  text-align: center;
}

.widgetPadding,
.bigWidgetPadding {
  background: var(--widget-background);
  border-radius: 60px;
  display: block;
  margin: 4px auto;
  max-width: 100%;
  transition: all 200ms ease-in-out;
  box-shadow: -1px -1px 21px rgba(0, 0, 0, 0.1);
}
.bigWidgetPadding {
  max-width: 100%;
  box-shadow: -1px -1px 21px rgba(75, 75, 75, 0.2);
}
.widgetPadding:hover,
.bigWidgetPadding:hover {
  box-shadow: -1px -1px 21px rgba(0, 0, 0, 0.2);
}
.topRow,
.row {
  margin-left: 12px;
  margin-right: 12px;
}
.contentOfEachWidget {
  padding: 15px;
}
.cityName {
  font-family: var(--accent-font);
  font-size: 25px;
  color: rgba(163, 163, 163, 0.932);
  display: flex;
  justify-content: flex-start;
  margin-top: 22px;
}
.userCityName,
.defaultCity1Name {
  font-size: 33px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.userTimeDisplayText {
  display: flex;
  justify-content: center;
  font-size: 49px;
  font-weight: 500;
}
.timeDisplayText {
  font-size: 45px;
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.dateDisplayText {
  font-size: 22px;
  display: flex;
  justify-content: center;
  color: rgb(136 134 134 / 96%);
}
.timeOffsetwidget {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 13px;
}
.timeDifferenceDisplayText {
  display: flex;
  justify-content: center;
  padding: 6px;
  background: white;
  border-radius: 50px;
  opacity: 0.7;
  box-shadow: inset 1px 0px 13px -4px rgb(0 0 0 / 20%);
}
form {
  display: flex;
  justify-content: flex-end;
}
.formWidget,
#theme-colors-widget {
  border-radius: 50px;
  font-size: 14px;
  background: linear-gradient(
    115deg,
    rgb(248, 250, 251) 0%,
    rgb(240, 241, 243) 45%,
    rgb(251, 251, 248) 95%
  );
  opacity: 0.7;
  border-width: 0;
  transition: all 200ms ease-in-out;
}
#theme-colors-widget {
  font-size: 20px;
  text-align: center;
}
.formWidget:hover,
#theme-colors-widget:hover {
  cursor: pointer;
}
.footer {
  font-size: 13px;
  margin: 20px auto;
  text-align: center;
}
a {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .container {
    padding: 20px 240px;
  }
}
@media (min-width: 992px) {
  .cityName {
    font-size: 40px;
  }
  .timeDisplayText {
    font-size: 57px;
  }
}
@media (max-width: 576px) {
  form,
  .cityName {
    justify-content: center;
  }
}
@media (max-width: 290px) {
  #userCurrentTime {
    font-size: 49px;
  }
  .cityName {
    font-size: 17px;
  }
  .timeDisplayText {
    font-size: 34px;
  }
  .timeOffsetwidget {
    display: none;
  }
}
.dark {
  background: linear-gradient(to right, #2e2d2d 0%, black 100%);
  color: white;
}
.dark .worldClockTitle {
  opacity: 0.95;
}
.dark .widgetPadding,
.dark .bigWidgetPadding {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.dark .bigWidgetPadding {
  box-shadow: 1px 1px 24px rgba(255, 255, 255, 0.2);
}
.dark .widgetPadding:hover,
.dark .bigWidgetPadding:hover {
  box-shadow: 1px 1px 24px rgba(255, 255, 255, 0.3);
}
.dark .timeDifferenceDisplayText {
  color: #00000078;
  background: linear-gradient(
    115deg,
    rgb(225 255 237) 0%,
    rgb(240 255 219) 45%,
    rgb(233 255 255) 95%
  );
}
.dark .formWidget,
.dark #theme-colors-widget {
  opacity: 0.95;
  background: linear-gradient(
    115deg,
    rgb(9 44 5) 0%,
    rgb(15 31 34) 45%,
    rgb(43 46 43) 95%
  );
  color: #bebbbb;
}
.dark .cityName {
  color: rgb(227 255 200 / 93%);
}
.dark a {
  color: #fffafa;
}
.dark .dateDisplayText {
  color: rgb(215 215 215);
}
.romantic {
  background: linear-gradient(
    43deg,
    rgb(255 210 210) 0%,
    rgb(231 223 255) 0%,
    rgb(249 241 255) 59%,
    rgb(241 239 255) 100%
  );
}

.romantic .widgetPadding,
.romantic .bigWidgetPadding {
  background-image: radial-gradient(73% 147%, #fffafa 59%, #ffe6de 100%),
    radial-gradient(
      91% 146%,
      rgb(255 255 255 / 50%) 47%,
      rgb(85 44 88 / 50%) 100%
    );
  background-blend-mode: screen;
}
.romantic .worldClockTitle {
  color: rgb(25 23 22 / 97%);
}
.romantic .timeDifferenceDisplayText {
  background: #fffefe9b;
  color: #0e0e0e9b;
}

.dawn {
  background-image: linear-gradient(-225deg, #ccbac3 0%, #6ca0ce 100%);
}
.dawn .bigWidgetPadding,
.dawn .widgetPadding {
  background-image: linear-gradient(-20deg, #1a244c 0%, #4e4376 100%);
}
.dawn .userTimeDisplayText,
.dawn .timeDisplayText {
  color: white;
}
.dawn .cityName {
  color: rgb(213 213 213 / 93%);
}
.dawn .dateDisplayText {
  color: rgb(215 215 215);
}
.dawn .footer,
.dawn a {
  color: #fffafa;
}
